device-stat {
  .stat-types p,
  .swiper-slide,
  .summary-view ion-col {
    font-size: 16px;
  }

  .swiper-slide {
    align-items: baseline;
  }

  .swiper-slide,
  .swiper-slide .slide-zoom {
    text-align: left;
  }

  .swiper-pagination-bullet-active {
    background-color: color($colors, red);
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -3px;
  }

  .summary-view {
    padding-top: 0;

    ion-row:first-child {
      background-color: color($colors, light);
      color: color($colors, red);
    }

    ion-row + ion-row {
      padding: 5px 0;
      border-top: 1px solid color($colors, light);
    }
  }
}
