<ion-content>

  <ion-item color="red">
    <span
      *ngIf="stats.total != null"
      ion-text
      item-left
      color="light">
      Total: {{ stats.total }}
    </span>
    <strong
      *ngIf="lodingProperty != null"
      ion-text
      item-right
      color="light">
      Load: {{ lodingProperty }}{{ lodingPropertyDimensions }}
    </strong>
  </ion-item>

  <chart
    [options]="chartOptions"
    (load)="bindChartInstance($event.context)"
    style="display: block">
  </chart>

  <ion-segment [(ngModel)]="detailedView" color="red">
    <ion-segment-button value="off">Summary</ion-segment-button>
    <ion-segment-button value="on">Detailed</ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="detailedView">

    <ion-row *ngSwitchCase="'on'" padding center>
      <ion-col width-33>
        <div class="stat-types">
          <p *ngFor="let statLabel of statLabels"
            ion-text
            color="red">
            {{ statLabel }}
          </p>
        </div>
      </ion-col>
      <ion-col width-67>
        <ion-slides pager="true">
          <ion-slide *ngFor="let statEntry of stats.entries">
            <p *ngFor="let statLabel of statLabels" ion-text text-nowrap>
              {{ statEntry[statLabel] }}
            </p>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-grid *ngSwitchCase="'off'" center class="summary-view">
      <ion-row>
        <ion-col width-50>
          {{ summaryViewLabels[0] }}
        </ion-col>
        <ion-col width-25>
          {{ summaryViewLabels[1] }}
        </ion-col>
        <ion-col width-25>
          {{ summaryViewLabels[2] }}
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let stat of stats.entries">
        <ion-col width-50>
          {{ stat[summaryViewLabels[0]] }}
        </ion-col>
        <ion-col width-25>
          {{ stat[summaryViewLabels[1]] }}
        </ion-col>
        <ion-col width-25>
          {{ stat[summaryViewLabels[2]] }}
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
