device-stat {
  .stat-types p,
  .swiper-slide,
  .summary-view ion-col {
    font-size: 16px;
  }

  .swiper-slide {
    align-items: baseline;
  }

  .swiper-slide,
  .swiper-slide .slide-zoom {
    text-align: left;
  }

  .summary-view {
    padding-top: 0;

    ion-row:first-child {
      background-color: color($colors, light);
      color: color($colors, primary);
    }

    ion-row + ion-row {
      padding: 5px 0;
      border-top: 1px solid color($colors, light);
    }
  }
}
