page-cpu {
  .stat-types p,
  .swiper-slide,
  .summary-view ion-col {
    font-size: 16px;
  }

  .swiper-slide {
    align-items: baseline;
  }

  .swiper-slide,
  .swiper-slide .slide-zoom {
    text-align: left;
  }
}
